fastapi
            uvicorn
            python-dotenv
            pandas
            plotly
            numpy
            scipy
            scikit-learn
            matplotlib
            seaborn
            requests
            aiofiles
            python-multipart
            pydantic
            pydantic-settings
        